*{
    margin: 0;
    padding: 0;
}     

body{
    background-color: #04202C;
}

.container{
    max-width: 1300px;
    margin: auto;
}

.header{
    background: #04202C;
}

.header_inner {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    width: 230px;
    height: 57px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.nav  a{
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 55px;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight: 400;

}


/* Kollektion */
.bg-img{
    background-image: url(../images/bgimg.png);
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img h1{
    font-family: 'Moniqa';
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 0px;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.center-tret{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}



.center-tret{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.first-part{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.first-part img{
    margin: 0px 20px 20px;
}

main h2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding: 62px 0 25px;
}


.vr-excursion{
    margin-top: 30px;
    cursor: pointer;
}

.vr-excursion img{
    width: 100%;
}

.vr-excurs.active{
    display: none;
}

.vr-walk{
    width: 100%;
    height: 700px;
    background-color: rgb(85, 75, 62);
    display: none;
}

.vr-walk.active{
    display: inline-block;
}


.next-img{
    display: none;
}

.next-img.active{
    display: inline-block;
}



.expand{  
                         /* fonts !!!!!!!!!!!!!*/
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.expand.none{
    display: none;
}

.expand::after{
    content: url(../images/vector.png);
    padding-left: 20px;
}

.changeble{
    display: none;
}


.in-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.img-f-three{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 40%
}

.img-f-three img{
    width: 90%;
    margin-bottom: auto;
}

.img-f-three img:last-child{
    margin-bottom: 0px;
}

.row-f{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-f img:first-child{
    width: 59%;
}

.row-f img:last-child{
    width: 39%;
}

.img-s-three{
    display: flex;
    flex-direction: column;
    width: 72%;
}

.row-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-end img{
    width: 48%;
}

.center{
    margin: 20px 0 20px;
}

.center img{
    width: 100%;
}



@media(max-width: 1480px){
  .post-1{
    display: none;
  }  

  .container{
      width: 80%;
  }
}


@media(max-width: 722px){
    .bg-img h1{
        font-size: 150px
    }

    .container{
        width: 90%;
    }

    .vr-walk.active{
        height: 200px;
        }
}

@media(max-width: 400px){
    .bg-img h1{
        font-size: 100px
    }

    .vr-walk.active{
    height: 200px;
    }
}