* {
    padding: 0;
    margin: 0;
}

body {
    background: #04202C;
}

.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

.header_inner {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    width: 230px;
    height: 57px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav  a{
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 55px;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight: 400;
}

p{
    color: #FFFFFF;
}

h1{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

h2{
    color: #FFFFFF;
}

h3{
    color: #FFFFFF;
}

.dailyImg{
    width: 65%;
    background-image: url(images/wheat.jpg);
    background-size: cover;
    margin-top: 27px;
    margin-right: 100px;
    position: relative;
}

.dailyImg p{
    right: 10px;
    bottom: 10px;
    font-size: medium;
    position: absolute;
}

.daily{
    display: flex;
    position: relative;
    background-image: linear-gradient(180deg, #04202C 0%, rgba(4, 32, 44, 0.6) 50.37%, #04202C 100%),  url(images/wheat.jpg);
    background-size: contain;
    background-position: 27%;
    margin-bottom: 53px;
}

.daily-wrap{
    display: flex;
    position: relative;
}

.wrap{
    width: 30%;
    margin-top: 27px;
}

.daily h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 47px;
}

.wrap p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 36px;
}

.museums{
    display: flex;
    padding-top: 26px;
    justify-content: space-between;
    margin-bottom: 114px;
}

.museums a{
    width: 30%;
    height: 290px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    display: flex;
}

.m1{
    background-image: linear-gradient(180deg, rgba(4, 32, 44, 0.4), rgba(4, 32, 44, 0.4)), url(images/Hermitage.png);
}

.m2{
    background-image: linear-gradient(180deg, rgba(4, 32, 44, 0.4), rgba(4, 32, 44, 0.4)), url(images/tretyakovka.jpg);
}

.m3{
    background-image: linear-gradient(180deg, rgba(4, 32, 44, 0.4), rgba(4, 32, 44, 0.4)), url(images/louvre.png);
}

.painters{
    display: block;
    padding-top: 26px;
    justify-content: space-between;
}

.painters a{
    /* width: 410px; */
    height: 290px;
    text-align: left;
    position: relative;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    display: inline-block;
}

.painters a p{
    position: absolute;
    bottom: 0;
}

.first-row{
    display: flex;
    padding-top: 26px;
    justify-content: space-between;
}

.first-row .left{
    width: 66%;
    background-image:  linear-gradient(90.11deg, rgba(56, 43, 34, 0.09) -9.46%, rgba(56, 43, 34, 0.09) 31.92%, rgba(56, 43, 34, 0.471118) 39.73%, #382B22 43.01%), url(images/Rembrandt.png) ;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.first-row .left p{
    right: 126px;
    top: 117px;
}

.first-row .right{
    width: 32%;
    background-image: url(images/Rembrandt.png);
    background-position: center;
}

.second-row{
    display: flex;
    padding-top: 26px;
    justify-content: space-between;
}

.second-row .left{
    width: 32%;
    background-image: url(images/VanGog.png);
    background-position: center;
}

.second-row .mid{
    width: 32%;
    background-image: url(images/Rembrandt.png);
    background-position: center;
}

.second-row .right{
    width: 32%;
    background-image: url(images/VanGog.png);
    background-position: center;
}

.teaser h2{
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    color: #5B7065;
}

.teaser h1{
    font-weight: 600;
    font-size: 144px;
    line-height: 169px;
    color: #5B7065;
    width: auto;
    height: auto;
}

.teaser h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #5B7065;
}

@media(max-width: 1310px) {
    .container{
        display: block;
        max-width: 90%;
    }

    .dailyImg{
        width: 80%;
        display: inline-block;
    }

    .daily-wrap{
        position: unset;
    }

    .wrap{
        position: static;
        width: 90%;
    }

    .daily{
        background-image: linear-gradient(180deg, #04202C 0%, rgba(4, 32, 44, 0.8) 50.37%, #04202C 100%),  url(images/wheat.jpg);
    }


    /* .museums{
        /* display: block; */
     */

    .museums a{
        margin: 0 auto 40px auto;
    }


    /* .first-row{
        /* display: block; */
    /* } */

    /* .second-row{ */
        /* display: block; */
    /* } */ 

}

@media(max-width: 1076px) {
    .museums a{
        font-size: 32px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .painters a p{
        font-size: 40px;
    }

    .first-row .left{
        background-image:  linear-gradient(89.94deg, rgba(56, 43, 34, 0.09) -8.18%, rgba(56, 43, 34, 0.09) 44.99%, rgba(56, 43, 34, 0.471118) 50.88%, #382B22 55.95%), url(images/Rembrandt.png) ;
    }

    .first-row .left p{
        right: 8%;
    }
}

@media(max-width: 850px) {
    .first-row .right {
        width: 34%;
    }

    .first-row .left{
        margin-right: 15px;
        width: 70%;
        background-image: linear-gradient(90.2deg, rgba(56, 43, 34, 0.09) -7.66%, rgba(56, 43, 34, 0.09) 64.2%, rgba(56, 43, 34, 0.471118) 68.88%, #382B22 75.45%), url(images/Rembrandt.png) 
    }

    .first-row .left p{
        right: 3%;
        top: auto;
    }


}

@media(max-width: 768px) {
    .painters a p{
        font-size: 35px;
    }

    .second-row .left{
        width: 48%;
    }

    .second-row .mid{
        width: 48%;
    }

    .second-row .right{
        display: none;
    }

    .first-row .right{
        display: none;
    }

    .first-row .left{
        width: 100%;
        background-image: linear-gradient(90.23deg, rgba(56, 43, 34, 0.09) -9.36%, rgba(56, 43, 34, 0.09) 33.33%, rgba(56, 43, 34, 0.471118) 47.62%, #382B22 56.62%), url(images/Rembrandt.png); 
        margin: 0;
    }

    .first-row .left p{
        top: 125px;
        right: 60px;
        font-size: 44px;
    }

    .museums a{
        width: 28%;
    }

    .museums a {
        font-size: 31px;
    }
}

@media(max-width: 690px){
    .museums a{
        width: 100%;
        background-size: cover;
        background-position: bottom;
        font-size: 44px;
    }

    .museums{
        display: block;
    }

    .museums-text{
        font-size: 50px;
    }
}

@media(max-width: 425px){
    .first-row .left{
        background-image: url(images/Rembrandt.png);
    }

    .first-row .left p{
        top: auto;
        right: auto;
        font-size: 38px;
    }

    .second-row .left {
        width: 100%;
        margin-bottom: 25px;
    }

    .second-row .mid{
        width: 100%;
    }

    .second-row{
        display: block;
    }
}