* {
    padding: 0;
    margin: 0;
}

body {
    background: #04202C;
}

.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.header_inner {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    width: 230px;
    height: 57px;
    color: #FFFFFF;
}

.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 55px;
    font-size: 22px;
    font-family: 'Raleway';
    font-weight: 400;
}

p {
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

.dailyImg {
    width: 65%;
    background-image: url(images/wheat.jpg);
    background-size: cover;
    margin-top: 27px;
    margin-right: 100px;
    position: relative;
}

.dailyImg p {
    right: 10px;
    bottom: 10px;
    font-size: medium;
    position: absolute;
}

.daily {
    display: flex;
    position: relative;
    background-image: linear-gradient(180deg, #04202C 0%, rgba(4, 32, 44, 0.6) 50.37%, #04202C 100%), url(images/wheat.jpg);
    background-size: contain;
    background-position: 27%;
    margin-bottom: 53px;
}

.daily-wrap {
    display: flex;
    position: relative;
}

.wrap {
    width: 30%;
    margin-top: 27px;
}

.daily h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 47px;
}

.wrap p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 36px;
}

.museums {
    display: flex;
    padding-top: 26px;
    justify-content: space-between;
    margin-bottom: 114px;
}

.museums a {
    width: 30%;
    height: 290px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    display: flex;
}

.m1 {
    background-image: linear-gradient(180deg, rgba(4, 32, 44, 0.4), rgba(4, 32, 44, 0.4)), url(images/Hermitage.png);
}

.m2 {
    background-image: linear-gradient(180deg, rgba(4, 32, 44, 0.4), rgba(4, 32, 44, 0.4)), url(images/tretyakovka.jpg);
}

.m3 {
    background-image: linear-gradient(180deg, rgba(4, 32, 44, 0.4), rgba(4, 32, 44, 0.4)), url(images/louvre.png);
}

.painters {
    display: block;
    padding-top: 26px;
    justify-content: space-between;
}

.painters a {
    /* width: 410px; */
    height: 290px;
    text-align: left;
    position: relative;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    display: inline-block;
}

.painters a p {
    position: absolute;
    bottom: 0;
}

.first-row {
    display: flex;
    padding-top: 26px;
    justify-content: space-between;
}

.first-row .left {
    width: 66%;
    background-image: linear-gradient(90.11deg, rgba(56, 43, 34, 0.09) -9.46%, rgba(56, 43, 34, 0.09) 31.92%, rgba(56, 43, 34, 0.471118) 39.73%, #382B22 43.01%), url(images/Rembrandt.png);
    background-repeat: no-repeat;
    margin-right: 30px;
}

.first-row .left p {
    right: 126px;
    top: 117px;
}

.first-row .right {
    width: 32%;
    background-image: url(images/Rembrandt.png);
    background-position: center;
}

.second-row {
    display: flex;
    padding-top: 26px;
    justify-content: space-between;
}

.second-row .left {
    width: 32%;
    background-image: url(images/VanGog.png);
    background-position: center;
}

.second-row .mid {
    width: 32%;
    background-image: url(images/Rembrandt.png);
    background-position: center;
}

.second-row .right {
    width: 32%;
    background-image: url(images/VanGog.png);
    background-position: center;
}

.teaser h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    color: #5B7065;
}

.teaser h1 {
    font-weight: 600;
    font-size: 144px;
    line-height: 169px;
    color: #5B7065;
    width: auto;
    height: auto;
    margin-bottom: 25px;
}

.teaser h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #5B7065;
}

.teaser .container {
    display: flex;
    position: relative;
}

.teaser .img {
    position: absolute;
    right: 30px;
    top: 185px;
}

.teaser {
    margin-bottom: 470px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    height: 35px;
}

footer p {
    color: #5B7065;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #04202C;
}

img {
    max-width: 100%;
}

.header_inner {
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;


    width: 230px;
    height: 57px;
    color: #FFFFFF;
    cursor: pointer;
}

.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 55px;

    font-size: 22px;
    font-family: 'Raleway';
    font-weight: 400;

    transition: .2s;
}


.storeBlock {
    width: 100%;
    padding-top: 125px;
}

.block_inner {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.gallaryImg {
    opacity: 0.6;
    width: 23%;
    height: 100%;
}

.gallaryText {
    font-family: 'MONIQA';
    color: #FFFFFF;
    font-size: 80px;
}

.mag {
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.line_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 84px;
}

.line_products .container {
    flex-wrap: wrap;
    justify-content: space-between;
}


.products {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 23.5%;
    background: #5B7065;
    padding-bottom: 29px;
    text-decoration: none;
}

.product img{
    height: 300px;
}

.product_text {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    min-height: 56px;
}

.price {
    text-align: center;
    color: #FFFFFF;
    bottom: 29px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.catalog {
    display: flex;
    width: 100%;
    height: 90px;
    background: #5B7065;
    text-decoration: none;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}

.catalog h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.btnstyle {
    margin-top: 19px;
    cursor: pointer;
    width: 100%;

    background-color: #5B7065;
}

.btnstyle a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 36px;
    height: 90px;

    line-height: 90px;

    text-align: center;

    display: block;
}

.footer_inner {
    width: 100%;
    margin-top: 42px;
    color: #5B7065;
    height: 80px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_line_product {
    display: none;
    flex-wrap: wrap;
    padding-top: 40px;


    justify-content: space-between;

    transition: 2s;
}

.catalog_line_product.opened {
    display: flex;
}

/* media */

@media(max-width: 1430px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    /* products */
    .block_inner {
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
    }

    .catalog_btn {
        width: 100%;
        height: 17%;
        display: flex;
        align-items: center;
        cursor: pointer;

        background-color: #5B7065;
    }
}

@media(max-width:1400px) {
    .teaser .img{
        height: auto;
        width: 500px;
        top: 200px;
    }
}

@media(max-width: 980px) {
    .line_products {
        width: 100%;
    }

    .gallaryImg {
        display: none;
    }
}

@media(max-width: 800px) {
    .products {
        flex-wrap: wrap;
    }

    .product {
        width: 47%;
        margin-bottom: 20px;
    }
}

@media(max-width: 600px) {
    .line_products {
        justify-content: center;
    }

    .products {
        flex-wrap: wrap;
    }

    .product {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .product_text {
        text-align: center;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


@media(max-width: 1310px) {
    .container {
        display: block;
        max-width: 90%;
    }

    .dailyImg {
        width: 80%;
        display: inline-block;
    }

    .daily-wrap {
        position: unset;
    }

    .wrap {
        position: static;
        width: 90%;
    }

    .daily {
        background-image: linear-gradient(180deg, #04202C 0%, rgba(4, 32, 44, 0.8) 50.37%, #04202C 100%), url(images/wheat.jpg);
    }


    .museums {
        /* display: block; */
    }

    .museums a {
        margin: 0 auto 40px auto;
    }


    .first-row {
        /* display: block; */
    }

    .second-row {
        /* display: block; */
    }

}

@media(max-width: 1164px) {
    .teaser .img{
        display: none;
    }
}

@media(max-width: 1076px) {
    .museums a {
        font-size: 32px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .painters a p {
        font-size: 40px;
    }

    .first-row .left {
        background-image: linear-gradient(89.94deg, rgba(56, 43, 34, 0.09) -8.18%, rgba(56, 43, 34, 0.09) 44.99%, rgba(56, 43, 34, 0.471118) 50.88%, #382B22 55.95%), url(images/Rembrandt.png);
    }

    .first-row .left p {
        right: 8%;
    }
}

@media(max-width: 850px) {
    .first-row .right {
        width: 34%;
    }

    .first-row .left {
        margin-right: 15px;
        width: 70%;
        background-image: linear-gradient(90.2deg, rgba(56, 43, 34, 0.09) -7.66%, rgba(56, 43, 34, 0.09) 64.2%, rgba(56, 43, 34, 0.471118) 68.88%, #382B22 75.45%), url(images/Rembrandt.png)
    }

    .first-row .left p {
        right: 3%;
        top: auto;
    }


}

@media(max-width: 768px) {
    .painters a p {
        font-size: 35px;
    }

    .second-row .left {
        width: 48%;
    }

    .second-row .mid {
        width: 48%;
    }

    .second-row .right {
        display: none;
    }

    .first-row .right {
        display: none;
    }

    .first-row .left {
        width: 100%;
        background-image: linear-gradient(90.23deg, rgba(56, 43, 34, 0.09) -9.36%, rgba(56, 43, 34, 0.09) 33.33%, rgba(56, 43, 34, 0.471118) 47.62%, #382B22 56.62%), url(images/Rembrandt.png);
        margin: 0;
    }

    .first-row .left p {
        top: 125px;
        right: 60px;
        font-size: 44px;
    }

    .museums a {
        width: 28%;
    }

    .museums a {
        font-size: 31px;
    }
}

@media(max-width: 690px) {
    .museums a {
        width: 100%;
        background-size: cover;
        background-position: bottom;
        font-size: 44px;
    }

    .museums {
        display: block;
    }

    .museums-text {
        font-size: 50px;
    }
}

@media(max-width: 425px) {
    .first-row .left {
        background-image: url(images/Rembrandt.png);
    }

    .first-row .left p {
        top: auto;
        right: auto;
        font-size: 38px;
    }

    .second-row .left {
        width: 100%;
        margin-bottom: 25px;
    }

    .second-row .mid {
        width: 100%;
    }

    .second-row {
        display: block;
    }
}
