@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #04202C;
}

/* img {
    max-width: 100%;
} */

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.header_inner {
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;


    width: 230px;
    height: 57px;
    color: #FFFFFF;
    cursor: pointer;
}

.nav {
    display: flex;
}

.nav  a{
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 55px;

    font-size: 22px;
    font-family: 'Raleway';
    font-weight: 400;

    transition: .2s;
}


.storeBlock {
    width: 100%;
    padding-top: 125px;
}

.block_inner {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.gallaryImg {
    opacity: 0.6;
    width: 23%;
    height: 100%;
}

.gallaryText {
    font-family: 'MONIQA';
    color: #FFFFFF;
    font-size: 80px;

}

.line_products {
    width: 72%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.products {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 32%;
    background: #5B7065;
    padding-bottom: 29px;
}

.product_text {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    min-height: 56px;

    padding-left: 21px;
}

.price {
    padding-top: 37px;
    text-align: center;
    padding-right: 21px;
}

.btnstyle {
    margin-top: 19px;
    cursor: pointer;
    width: 100%;

    background-color: #5B7065;
}

.btnstyle a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 36px;
    height: 90px;

    line-height: 90px;

    text-align: center;

    display: block;
}

.footer_inner {
    width: 100%;
    margin-top: 42px;
    color: #5B7065;
    height: 80px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_line_product {
    display: none;
    flex-wrap: wrap;
    padding-top: 40px;


    justify-content: space-between;

    transition: 2s;
}

.catalog_line_product.opened {
    display: flex;
}

      /* media */

@media(max-width: 1430px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
      /* products */
    .block_inner {
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
    }

    .catalog_btn {
        width: 100%;
        height: 17%;
        display: flex;
        align-items: center;
        cursor: pointer;
    
        background-color: #5B7065;
    }
    
}

@media(max-width: 980px) {
    .line_products {
        width: 100%;
    }

    .gallaryImg {
        display: none;
    }
}

@media(max-width: 800px) {
    .products {
        flex-wrap: wrap;
    }
    .product {
        width: 47%;
        margin-bottom: 20px;
    }
}

@media(max-width: 600px) {
    .line_products {
        justify-content: center;
    }

    .products {
        flex-wrap: wrap;
    }

    .product {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .product_text {
        text-align: center;
    }
}






